<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @story.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @story.status %>
</p>


<% if @story.is_active? %>
  <%= link_to 'Inactive This Story', inactive_story_path, method: :put %>
<% else %>
  <%= link_to "Active This Story", active_story_path, method: :put%>
<% end %>
<br>



<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
